
#main-menu .nav-bar { list-style:none; margin-top: 20px;  }
#main-menu .nav-bar li { display:inline; padding:0 10px; }

#main-menu .nav-bar li a {
  text-decoration: none;
  font-size: large;
  padding-left: 25px;
  text-transform: uppercase;
  color: #333;
	text-shadow: 2px 2px 2px #ccc;
}



.nav-button-home:hover
{
 background-color: rgba(95, 158, 160, 0.603); font: bolder;
}