
/* .card
{
  margin-top: 30px;
  display: flex;
 display: inline-flex;
  gap: 10px;

  margin-left: 30px;

 
} */

.card-text
{
  padding-top: 10px;

}

.tagcard-container
{
  display: flex;
  margin-left: 100px;
  margin-top: 20px;
  gap: 30px;
}


.tagcard
{
  background-color: #dbdbdb;
  width: 220px;
  height: 400px;
  margin: 10px;
  border-radius: 15px ;
}

.tagcard:hover
{
    /* background-color: cadetblue; */
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}
.card-image
{
  /* background-color: aqua; */
  height: 200px;
  margin-bottom: 15px;
  background-size: cover;

}

.tag-1 
{
  background-image: url('../photo/book1.png');
}

.tag-2
{
 background-image: url('../photo/book2.png');
} 

.tag-3
{
  background-image: url('../photo/book3.png');
}

.tag-4
{
  background-image: url('../photo/book4.png');
}
