/* .container
{
    margin-left: 20px;
} */

.health1-photo
{
    margin-left: 50px;
}

.health-title
{
    margin-left: 50px;
    margin-top: 20px; 
}

.health-description
{
    margin-left: 50px;
    margin-top: 20px; 
    font-size: 20px;
}

.health2-photo
{
    margin-left: 50px;
}

.busness1-photo
{
    margin-left: 50px;
    margin-top: 20px;
}

.bussnes-title
{
    margin-left: 50px;
    margin-top: 20px;

}
.bussnes-description
{
    margin-left: 50px;
    margin-top: 20px;  
}